@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");

body {
  font-family: "Poppins", sans-serif;
}

div {
  background-color: rgb(12, 16, 19);
  color: red;
}

p {
  background-color: blueviolet;
  color: aliceblue;
  font-size: 18px;
  font-weight: 800;

  text-align: justify;

  -webkit-user-select: none;
}

p {
  background-color: #439c31;
  color: #e3eaef;
  font-size: 17px;
}

section {
  > pre {
    color: blue;
  }
}

/*  This is a Comment */
